.env
config.py

src/train/model_*
src/train/_*
src/train/outputs
src/train/unsloth*
src/train/qwen3*
src/train/llama.cpp
src/eval*

!/scripts/curator/

models/*
!models/README.md

data/jsonls/*
data/data/*
data/checkpoints/*
data/*_direct_api

.ropeproject
ls.txt
requirements.in
