.env
config.py

train_test/*
!train_test/train.py
!train_test/inference.py

scripts/*
!/scripts/generate_dataset*.py
!/scripts/download_metadata.py
!/scripts/upload_dataset.py

!/scripts/curator/

large_scale/data/*
dataset/data/*

# Test and dev files
large_scale/scripts/test*
large_scale/scratch
large_scale/scripts/embedded_to_r2.py
