.env
config.py

src/*
!src/train
!src/inference
!src/utils

!/scripts/curator/

models/*
!models/README.md

data/jsonls/*
data/data/*
data/checkpoints/*
data/*_direct_api

.ropeproject
ls.txt
requirements.in
